:root {
    --header-color: #ffffff;
    --primary-text-color: #212121;
    --second-text-color:  #757575;
    --primary-title-color: #FFFFFF;
    --secondary-title-color: #212121;
    --accent-color: #2196F3;
    --background-color: #E5E5E5;
    --secondary-background-color: #2F303A;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.btn{
    cursor: pointer;
}


.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}


/*------logo-----*/


.header-logo {
    text-decoration: none;
}

.web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--accent-color);
}

.studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--primary-text-color);
}



/*-----header-----*/


.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14x;
    letter-spacing: 0.02em;
    color:var(--primary-text-color);
    text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
    color:var(--accent-color);
}

.site-nav .nav-link.current {
    color: var(--accent-color);
}

.contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color:var(--accent-color)
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.contacts-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.contacts-tel:hover,
.contacts-tel:focus {
    color: var(--accent-color);
}



/*-----hero-----*/


.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--primary-title-color);
    background-color: var(--secondary-background-color);
}


.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
    background-color: var(--accent-color);
}

.hero-btn:hover,
.hero-btn:focus{
    color:var(--accent-color)
}



/*-----features-----*/


.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--secondary-title-color);
  }

  .features-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;    
    letter-spacing: 0.03em;
    color:var(--second-text-color);
  }

  /*-----team----*/

  .team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--secondary-title-color);
  }

  .team-item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19x;
    letter-spacing: 0.03em;
    color:var(--second-text-color)
  }


  /*-----footer-----*/


  /*-----logo-----*/

  .footer-logo {
    text-decoration: none;
}

.web {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--accent-color);
}

.studio {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--primary-title-color);
}


.footer-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-title-color);
}

.footer-link:hover,
.footer-link:focus {
    color: var(--accent-color);

.footer-contacts {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--primary-title-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}

.footer-tel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--primary-title-color);
}

.footer-tel:hover,
.footer-tel:focus {
    color: var(--accent-color);
}




/*-----portfolio page-----*/


.filter-btn {
    font-family: Roboto; sans-serif ;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;    
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--secondary-title-color);
    background-color: #F5F4FA;
  }

.filter-btn:hover,
.filter-btn:focus{
    color:var(--primary-text-color);
    background-color:var(--accent-color);
}

.portfolio-item-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
    color:var(--secondary-title-color);
}


.portfolio-item-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color:--second-text-color;
}
