:root {
    --header-color: #212121;
    --primary-text-color: #212121;
    --second-text-color:  #757575;
    --primary-title-color: #FFFFFF;
    --secondary-title-color: #212121;
    --accent-color: #2196F3;
    --background-color: #2F303A;
}

body {
    font-family: "Roboto", sans-serif;
}